/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Slackey", cursive;
  background-color: #000000;
  color: #ffffff;
}

body::-webkit-scrollbar {
  display: none;
}

/*
=============== 
Navbar
===============
*/

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}
.logo {
  height: 40px;
}

.social-icons {
  display: none;
}
.links-container {
  /* display: none; */
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
.show-container {
  /* height: 10rem; */
  display: flex;
}

.links {
  padding: 7px;
  cursor: pointer;
}
@media (min-width: 1060px) {
  .nav-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 1rem; */
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: var(--clr-primary-7);
  }
}

/* ======End Of header======== */

.banner {
  background-image: url("./img/bannerBackground.png");
  height: 100%;
  background-size: cover;
  overflow: hidden;
}

.mymint {
  background-image: url("./img/myMintBackground.png");
  height: 100%;
  background-size: cover;
  overflow: hidden;
}

.card__item {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
}
.benefit {
  background-image: url("./img/benefitBackground.png");
  height: 100%;
  background-size: cover;
  overflow: hidden;
}

.hero {
  background-image: url("./img/heroBackground.png");
  height: 100%;
  background-size: cover;
  overflow: hidden;
}

.team {
  background-image: url("./img/teamBackground.png");
  height: 100%;
  background-size: cover;
  overflow: hidden;
}

.trait {
  background-image: url("./img/traitBackground.png");
  height: 100%;
  background-size: cover;
  overflow: hidden;
}

.mint__page {
  background-image: url("./img/mintBackground.png");
  height: 100%;
  background-size: cover;
  overflow: hidden;
}

.hero__box {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
}

.roadmap-75 {
  font-size: 24px;
  line-height: 36px;
}

.benefit__box {
  background: rgba(0, 0, 0, 0.7);
  border: 3px solid #ffffff;
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  border-radius: 16px;
}

.text-charity {
  font-size: 24px;
  line-height: 42px;
}

.mint__box {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
}
